// Margins
.mb-8 {
  margin-bottom: 8rem !important;
}

// Scroll Reveal UX
.load-hidden {
  visibility: hidden;
}

.panmimi {
  margin-top: -25%;
  @include respond(tab-land) {
  margin-top: -20%;
  }
  @include respond(tab-port) {
  margin-top: -19%;
  }
}
.lettuce {
  @include respond(tab-land) {
    margin-bottom: -3%;
    }
  @include respond(tab-port) {
    margin-bottom: -5%;
    }
}